/* App-wide styling */

body {
    margin: 20px;
}

/* Navbar */
#navbar {
    display: flex;
    flex-direction: row;
}

#navbar a {
    color: #0f1116;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.2s ease;
}

#navbar a:hover {
    cursor: pointer;
    color: #91a4d2;
}
